@charset "utf-8";
/* CSS Document */

/*---------- Google Fonts ----------*/



body{
	font-family: 'Lato', sans-serif;
	background-color: #fff;
}

a,
input,
button,
textarea { outline: none !important; }

a {
	transition: all ease-in-out 300ms;
	-webkit-transition: all ease-in-out 300ms;
	-ms-transition: all ease-in-out 300ms;
	-o-transition: all ease-in-out 300ms;
	-moz-transition: all ease-in-out 300ms;
}
.pad-left {
	padding-left:0;
}

.pad-right {
	padding-right:0;
}

.pad-top {
	padding-top:0;
}

.pad-bottom {
	padding-bottom:0;
}

.padding {
	padding:0;
}

h1 {
	font-size: 55px;
	line-height: 55px;
	margin: 0;
}
h2 {
	font-size: 50px;
	line-height: 50px;
	margin: 0;
}
h3 {
	font-size: 40px;
	line-height: 40px;
	margin: 0;
}

h4 {
	font-size: 30px;
	line-height: 30px;
	margin: 0;
}

h5 {
	font-size: 26px;
	line-height: 26px;
	margin: 0;
}

h6 {
	font-size: 22px;
	line-height: 22px;
	margin: 0;
}

p {
	font-size: 16px;
	line-height: 18px;
	margin: 0;
}

/*==================================================================*/
/*========== Header Start ==========*/
/*==================================================================*/



/*==================================================================*/
/*========== Header End ==========*/
/*==================================================================*/



/*==================================================================*/
/*========== New Class Add Start ==========*/
/*==================================================================*/

/*==================================================================*/
/*========== New Class Add End ==========*/
/*==================================================================*/



/*==================================================================*/
/*========== Footer Start ==========*/
/*==================================================================*/

/*==================================================================*/
/*========== Footer End ==========*/
/*==================================================================*/
